In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('D:\Python\Data-set\sfz.xlsx',header=0,names=['xuehao','name','sfz','sex','nation','number'])#

In [4]:
df.head(5)

       xuehao name                 sfz sex nation       number
0  2017400626  李志杰  430481199910059652   男     汉族  15874450868
1  2018400605  罗银银  500222199807205428   女     汉族  19922154216
2  2018400606   王骞  433125200108123515   男     汉族  18576715927
3  2018400607  刘泽民  431103200101285773   男     汉族  15575375938
4  2018400608  胡佳颖  431126200011250061   女     汉族  15574619481

In [5]:
dom = df['sfz']

In [27]:
sfz_list = [i[6:10]+'-'+i[10:12]+'-'+i[12:14] for i in list(df['sfz'])]

In [7]:
# sfz_list = []
# for i in list(dom):
#     # i = i[6:14]
#     # print(i)
#     h = i[6:10]
#     j = i[10:12]
#     k = i[12:14]
#     sfz = h+'-'+j+'-'+k
#     sfz_list.append(sfz)

In [28]:
sfz_list[:5]

['1999-10-05', '1998-07-20', '2001-08-12', '2001-01-28', '2000-11-25']

In [9]:
sdate=[20,19,21,20,21,22,23,23,23,24,23,22]     # 星座判断列表
conts =['摩羯座','水瓶座','双鱼座','白羊座','金牛座','双子座','巨蟹座','狮子座','处女座','天秤座','天蝎座','射手座','摩羯座']
signs=['♑','♒','♓','♈','♉','♊','♋','♌','♍','♎','♏','♐','♑']

In [10]:
xm = list(df['name'])
xz = []
tx = []
for birth in sfz_list:
    cbir=birth.split('-')    # 分割年月日到列表
    cmonth=str(cbir[1])      # 提取月数据
    cdate=str(cbir[2])       # 提取日数据
    def sign(cmonth,cdate):  #  判断星座函数
        if int(cdate)<sdate[int(cmonth)-1]:   # 如果日数据早于对应月列表中对应的日期
            xz.append(conts[int(cmonth)-1])       # 直接输出星座列表对应月对应的星座
            tx.append(signs[int(cmonth)-1])       # 直接输出星座列表对应月对应的星座
        else:
            xz.append(conts[int(cmonth)])         # 否则输出星座列表下一月对应的星座
            tx.append(signs[int(cmonth)])         # 否则输出星座列表下一月对应的星座        
    sign(cmonth,cdate)

In [11]:
xm[:10],xz[:10],tx[:10]
#xm[:],xz[:],tx[:]

(['李志杰', '罗银银', '王骞', '刘泽民', '胡佳颖', '唐婉婷', '邓雅丽', '刘胜男', '孙海燕', '林诗敏'],
 ['天秤座', '巨蟹座', '狮子座', '水瓶座', '射手座', '处女座', '处女座', '水瓶座', '处女座', '狮子座'],
 ['♎', '♋', '♌', '♒', '♐', '♍', '♍', '♒', '♍', '♌'])

In [12]:
from pandas.core.frame import DataFrame
getlist = {
    '姓名' : xm,
    '星座' : xz,
    '图标' : tx,
    '出生日期' : sfz_list
}
dom = DataFrame(getlist)

In [13]:
dom.head(10)

    姓名   星座 图标        出生日期
0  李志杰  天秤座  ♎  1999-10-05
1  罗银银  巨蟹座  ♋  1998-07-20
2   王骞  狮子座  ♌  2001-08-12
3  刘泽民  水瓶座  ♒  2001-01-28
4  胡佳颖  射手座  ♐  2000-11-25
5  唐婉婷  处女座  ♍  2000-08-24
6  邓雅丽  处女座  ♍  2000-09-05
7  刘胜男  水瓶座  ♒  2000-02-15
8  孙海燕  处女座  ♍  2000-09-04
9  林诗敏  狮子座  ♌  2000-08-17

In [14]:
# dom1 = dom['星座']
# place_message = dom['姓名'].groupby(dom['星座'])
# for index,i in place_message:
#     print(index,i)
dom = dom.sort_values('星座',ascending = False)#原来就这么简单
#使用自定义排序

In [15]:
dom1 = dom['星座'].value_counts().reset_index()
dom1.columns = ['星座统计','count']
dom1

   星座统计  count
0   狮子座      5
1   处女座      5
2   双子座      4
3   射手座      3
4   水瓶座      3
5   双鱼座      2
6   金牛座      2
7   天蝎座      2
8   巨蟹座      2
9   天秤座      2
10  白羊座      1
11  摩羯座      1

In [16]:
dom

     姓名   星座 图标        出生日期
23  高双宁  金牛座  ♉  2001-04-23
20  文丝雨  金牛座  ♉  2000-04-20
30  那格格  白羊座  ♈  2001-03-28
16  唐慧婷  狮子座  ♌  2000-07-29
2    王骞  狮子座  ♌  2001-08-12
9   林诗敏  狮子座  ♌  2000-08-17
11   张雯  狮子座  ♌  2000-07-26
13   张瑞  狮子座  ♌  2000-07-25
3   刘泽民  水瓶座  ♒  2001-01-28
27  王满昌  水瓶座  ♒  2000-02-15
7   刘胜男  水瓶座  ♒  2000-02-15
19  廖迎平  摩羯座  ♑  1999-12-28
1   罗银银  巨蟹座  ♋  1998-07-20
24  杨思琳  巨蟹座  ♋  2000-07-04
21  邱欣妮  射手座  ♐  2000-11-26
31  杨森钧  射手座  ♐  1998-11-25
4   胡佳颖  射手座  ♐  2000-11-25
22  马金瑶  天蝎座  ♏  2000-10-26
26  杨慧仪  天蝎座  ♏  2000-11-21
12  周俊玲  天秤座  ♎  2000-10-13
0   李志杰  天秤座  ♎  1999-10-05
17   陈静  处女座  ♍  2000-09-20
14   彭菁  处女座  ♍  2000-09-15
8   孙海燕  处女座  ♍  2000-09-04
6   邓雅丽  处女座  ♍  2000-09-05
5   唐婉婷  处女座  ♍  2000-08-24
15  米长德  双鱼座  ♓  1999-03-08
18  李发明  双鱼座  ♓  2001-02-20
10   曹盛  双子座  ♊  2000-06-09
25  夏星宇  双子座  ♊  2000-06-07
28  杨丹妮  双子座  ♊  2000-05-26
29  刘志庆  双子座  ♊  2000-06-03

In [17]:
# dom2 = dom['姓名'].iloc[dom['星座']]

In [18]:
dom2 = dom.sort_values(['星座'],ascending = False)

In [19]:
dom2

     姓名   星座 图标        出生日期
23  高双宁  金牛座  ♉  2001-04-23
20  文丝雨  金牛座  ♉  2000-04-20
30  那格格  白羊座  ♈  2001-03-28
16  唐慧婷  狮子座  ♌  2000-07-29
2    王骞  狮子座  ♌  2001-08-12
9   林诗敏  狮子座  ♌  2000-08-17
11   张雯  狮子座  ♌  2000-07-26
13   张瑞  狮子座  ♌  2000-07-25
3   刘泽民  水瓶座  ♒  2001-01-28
27  王满昌  水瓶座  ♒  2000-02-15
7   刘胜男  水瓶座  ♒  2000-02-15
19  廖迎平  摩羯座  ♑  1999-12-28
1   罗银银  巨蟹座  ♋  1998-07-20
24  杨思琳  巨蟹座  ♋  2000-07-04
31  杨森钧  射手座  ♐  1998-11-25
4   胡佳颖  射手座  ♐  2000-11-25
21  邱欣妮  射手座  ♐  2000-11-26
22  马金瑶  天蝎座  ♏  2000-10-26
26  杨慧仪  天蝎座  ♏  2000-11-21
12  周俊玲  天秤座  ♎  2000-10-13
0   李志杰  天秤座  ♎  1999-10-05
17   陈静  处女座  ♍  2000-09-20
14   彭菁  处女座  ♍  2000-09-15
8   孙海燕  处女座  ♍  2000-09-04
6   邓雅丽  处女座  ♍  2000-09-05
5   唐婉婷  处女座  ♍  2000-08-24
15  米长德  双鱼座  ♓  1999-03-08
18  李发明  双鱼座  ♓  2001-02-20
10   曹盛  双子座  ♊  2000-06-09
25  夏星宇  双子座  ♊  2000-06-07
28  杨丹妮  双子座  ♊  2000-05-26
29  刘志庆  双子座  ♊  2000-06-03

In [20]:
dom['星座统计'] = dom1['星座统计']
dom['count'] = dom1['count']
dom['星座'] = dom2['星座']

In [21]:
dom

     姓名   星座 图标        出生日期 星座统计  count
23  高双宁  金牛座  ♉  2001-04-23  NaN    NaN
20  文丝雨  金牛座  ♉  2000-04-20  NaN    NaN
30  那格格  白羊座  ♈  2001-03-28  NaN    NaN
16  唐慧婷  狮子座  ♌  2000-07-29  NaN    NaN
2    王骞  狮子座  ♌  2001-08-12  双子座    4.0
9   林诗敏  狮子座  ♌  2000-08-17  天秤座    2.0
11   张雯  狮子座  ♌  2000-07-26  摩羯座    1.0
13   张瑞  狮子座  ♌  2000-07-25  NaN    NaN
3   刘泽民  水瓶座  ♒  2001-01-28  射手座    3.0
27  王满昌  水瓶座  ♒  2000-02-15  NaN    NaN
7   刘胜男  水瓶座  ♒  2000-02-15  天蝎座    2.0
19  廖迎平  摩羯座  ♑  1999-12-28  NaN    NaN
1   罗银银  巨蟹座  ♋  1998-07-20  处女座    5.0
24  杨思琳  巨蟹座  ♋  2000-07-04  NaN    NaN
21  邱欣妮  射手座  ♐  2000-11-26  NaN    NaN
31  杨森钧  射手座  ♐  1998-11-25  NaN    NaN
4   胡佳颖  射手座  ♐  2000-11-25  水瓶座    3.0
22  马金瑶  天蝎座  ♏  2000-10-26  NaN    NaN
26  杨慧仪  天蝎座  ♏  2000-11-21  NaN    NaN
12  周俊玲  天秤座  ♎  2000-10-13  NaN    NaN
0   李志杰  天秤座  ♎  1999-10-05  狮子座    5.0
17   陈静  处女座  ♍  2000-09-20  NaN    NaN
14   彭菁  处女座  ♍  2000-09-15  NaN    NaN
8   孙海燕  处女座  ♍  2000-09-04  巨蟹座    2.0
6   邓雅丽  处女座  ♍  2000-09-05  金牛座    2.0
5   唐婉婷  处女座  ♍  2000-08-24  双鱼座    2.0
15  米长德  双鱼座  ♓  1999-03-08  NaN    NaN
18  李发明  双鱼座  ♓  2001-02-20  NaN    NaN
10   曹盛  双子座  ♊  2000-06-09  白羊座    1.0
25  夏星宇  双子座  ♊  2000-06-07  NaN    NaN
28  杨丹妮  双子座  ♊  2000-05-26  NaN    NaN
29  刘志庆  双子座  ♊  2000-06-03  NaN    NaN

In [22]:
#dom.to_excel('18电商星座表.xlsx')